<!DOCTYPE html>
<html>
  <head>
    <title>Editar cadastro do celular</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  </head>
  <body>
      <script type="text/javascript" src="/js/main.js"></script>
      <script type="text/javascript" src="/js/jquery.mask.js"></script>
      <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
      <h1>Editar cadastro</h1>
      <form action="/celulares/update/<%= celular._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Número do celular</td>
              <td><input type="text" name="numero" value="<%= celular.numero %>" class="telefone"/></td>
            </tr>
            <tr>
              <td>Colaborador responsável</td>
              <td><input type="text" name="nome" value="<%= celular.nome %>" /></td>
            </tr>
            <tr>
              <td>Plano de Voz Contratado</td>
              <td><input type="text" name="planoVoz" value="<%= celular.planoVoz %>" /></td>
            </tr>
            <tr>
              <td>Plano de Dados Contratado</td>
              <td><input type="text" name="planoDados" value="<%= celular.planoDados %>" /></td>
            </tr>
            <tr>
              <td>Aparelho utilizado</td>
              <td><input type="text" name="aparelho" value="<%= celular.aparelho %>" /></td>
            </tr>
            <tr>
              <td>IMEI</td>
              <td><input type="text" name="imei" value="<%= celular.imei %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar cadastro</button></td>
            </tr>
          </tbody>
        </table>
        <br>
        <h3><a href="/celulares">Voltar</a></h3>
      </form>
      <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  </body>
</html>
